@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

html {
  font-size: 10px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Roboto;
}
.dull_background {
  background: hsl(93, 25%, 67%);
  pointer-events: none;
}
body {
  background-color: #8cc461;
}

.header {
  margin: 6rem auto;
  border: white solid 0.2rem;
  width: 62%;
  height: 21vh;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gameName {
  height: 80%;
  width: 30%;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  font-size: 3.5rem;
  font-weight: 600;
  line-height: 4.3rem;
  letter-spacing: 0.1em;
  text-align: left;
  color: white;
}

.scoreWrapper {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: flex-end;
  margin-right: 1.5rem;
  height: 100%;
  width: 40%;
  font-weight: 600;
}

.ScoreBoard {
  width: 12rem;
  height: 80%;
  border-radius: 0.5rem;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.4rem;
  line-height-: 1.2;
  letter-spacing: 2px;
  color: #656565;
}

#pcScore,
#humanScore {
  color: rgba(0, 0, 0, 0.8);
  font-size: 6rem;
  line-height: 1.2;
}
.bottomBtn {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  background: none;
  border-radius: 0.8rem;
  display: flex;
  justify-content: space-between;
}
.ruleBtn {
  margin: 0rem 1rem;
  width: 15rem;
  background: none;
  border: 2px solid white;
  border-radius: 0.8rem;
  color: white;
  padding: 0.6rem 2.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.1em;
  cursor: pointer;
  font-weight: 600;
}


.ruleContainer {
  position: fixed; /* Fix the container to the viewport */
  bottom: 8rem; /* Position from the bottom */
  right: 2rem; /* Position from the right */
  width: 23%; /* Set a width for the container */
  z-index: 1000;
  height: 55%;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  pointer-events: none;
}
.show_rules {
  opacity: 1;
  pointer-events: initial;
}
.rulecontent {
  background-color: #004429; /* Dark green background */
  color: white; /* White font color */
  border: 5px solid white; /* White border */
  padding: 2rem; /* Inner padding */
  border-radius: 8px; /* Optional: rounded corners */
  position: absolute;
  width: 90%; /* Slightly smaller than container */
  height: 90%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
}
.ruleHeading {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.rules ul {
  list-style-type: none; /* Remove default bullets */
  padding-left: 0; /* Remove padding */
}

.rules li {
  margin-bottom: 1rem;
  position: relative; /* Set position relative for bullet positioning */
  padding-left: 20px; /* Space for the bullet */
}

.bullet {
  position: absolute; /* Absolute positioning for the bullet */
  left: 0; /* Align to the left */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Adjust to perfectly center */
  width: 10px; /* Width of the bullet */
  height: 10px; /* Height of the bullet */
  background-color: #ffd600; /* Bullet color (yellow in this example) */
}

.cross {
  position: absolute; /* Position absolute to place over the content */
  top: -3rem; /* Adjust top position */
  right: -3rem; /* Adjust right position */
  background-color: red; /* Red background */
  color: white; /* White cross */
  border: 5px solid white; /* White border */
  border-radius: 50%; /* Make it circular */
  width: 5.5rem; /* Width of the button */
  height: 5.5rem; /* Height of the button */
  font-size: 18px; /* Font size for the cross */
  cursor: pointer; /* Pointer cursor on hover */
  display: flex; /* Center the cross */
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
  font-weight: 800;
  cursor: pointer;
}

.gameArea {
  width: 50%;
  max-width: 60rem;
  height: 50vh;
  margin: 0 auto;
  position: relative;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  row-gap: 10rem;
  column-gap: 5rem;
  /* background-color: pink; */
}

#rock {
  grid-column: span 1;
}
#paper {
  grid-column: span 1;
}
#scissors {
  grid-column: span 2;
}
.playBtn {
  border-radius: 50%;
  color: white;
  cursor: pointer;
  height: 12rem;
  width: 12rem;
}

.rock {
  border: 1rem solid #0074b6;
}
.scissors {
  border: 1rem solid #ffa943;
}
.paper {
  border: 1rem solid #bd00ff;
}

.triangleContainer {
  position: absolute; /* Change to absolute */
  width: 200px; /* Set container width */
  height: 200px; /* Set container height */
  left: 50%; /* Center horizontally */
  top: 50%; /* Center vertically */
  transform: translate(-50%, -50%); /* Offset to truly center */
  z-index: -1; /* Send to back */
}

.line {
  position: absolute;
  background-color: black;
  height: 1px;
}

/* Top horizontal line */
.line.top {
  width: 250px;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  top: -2rem;
  left: -2rem;
}

/* Left diagonal line */
.line.left {
  width: 200px;
  top: 2rem;
  left: -4rem;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  transform: rotate(55deg);
  transform-origin: top left;
}

/* Right diagonal line */
.line.right {
  width: 200px;
  top: 2rem;
  right: -3rem;
  height: 15px;
  background-color: rgba(0, 0, 0, 0.6);
  transform: rotate(-55deg);
  transform-origin: top right;
}

.gameArea {
  position: relative;
  width: 50%;
  height: 50vh;
  margin: 0 auto;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
}





.winPage {
  display: flex;
  flex-direction: column;
  width: 70rem;
  height: 100vh;
  margin: 0 auto;
  align-items: center;
  
}

.winImg {
  height: 50%;
  width: 100%;
  position: relative; /* To enable overlapping of star and cup */
  display: flex;
  flex-direction: column; /* Stack star and cup in a column */
  align-items: center;
}

.star {
  bottom: 0;
  position: absolute;
  z-index: 1;
  opacity: 0.7;
  max-width: 100%;
  max-height: 100%;
}

.cup {
  width: 20rem;
  height: 20rem;
  bottom: 0;
  position: absolute;
  z-index: 2; /* Cup on top of star */
}
.winMsg {
  margin-top: 7rem;
  font-family: Roboto;
  font-size: 41px;
  font-weight: 600;
  line-height: 48.05px;
  letter-spacing: 0.4rem;
  text-align: center;
  color: white;
}
.winMsgHeading {
  font-family: Roboto;
  font-size: 91px;
  font-weight: 600;
  line-height: 106.64px;
  letter-spacing: 0.1em;
}
.playAgainBtnContainer {
  margin-top: 3rem;

}
.playAgainBtn {

  font-family: Roboto;
  font-size: 15px;
  font-weight: 600;
  width: 17.4rem;
  height: 4.4rem;
  border-radius: 1rem;
  border: none;
  letter-spacing: 0.3rem;
  color: rgba(107, 107, 107, 1);
  cursor: pointer;
}



.gameOn{
  margin: 1rem auto;
  width: 70%;
  height: 45vh;
  border-radius: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.palyerChoice, .pcChoice{
  transform: scale(1.6);
}



.centerMsg{
padding-top: 15rem;
font-size: 25px;
font-weight: 800;
line-height: 3rem;
letter-spacing: 0.1em;
color: white;

}

.mainmsg{
  height: 8rem;
}
.resultMsg{
  font-size: 4rem;
  font-weight: 800;
  line-height: 4.5rem;
  letter-spacing: 0.1em;

}

.playerChoiceContainer{
  height: 30rem;
  width: 30rem;
  margin-top: 20rem;

}
.pcChoiceContainer{
  height: 30rem;
  width: 30rem;
  margin-top: 20rem;

}







































.hidden{
  display: none;
}